body {
    margin: 0;
}

header {
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer {
    padding: 50px;
    width: 40%;
    margin: auto;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav a {
    text-decoration: none;
    color: black;
    border-top: 1px solid;
}

footer nav a:hover {
    color: #979292;
    border-top: 1px solid #979292;
}