@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body {
    margin: 0;
<<<<<<< HEAD
    font-family: 'Cinzel', serif;
=======
    background-image: url(image/Planet-Zoo.jpg);
>>>>>>> f418747a5c1b4c0d4319477c86de1637de40c6eb
}

header {
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {
    width: 30%;
    margin: 30px;
    margin-top: 90px;
    text-align: center;
}

.container div p {
    text-align: justify;
}

.container div img {
    border-radius: 45%;
}

footer {
    padding: 50px;
    width: 40%;
    margin: auto;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav a {
    text-decoration: none;
    color: black;
    border-top: 1px solid;
}

footer nav a:hover {
    color: #979292;
    border-top: 1px solid #979292;
}

