@import url('https://fonts.googleapis.com/css?family=Cinzel|Lacquer&display=swap');

body {
    margin: 0;
    background-image: url("image/Planet-Zoo.jpg");
    font-family: 'Cinzel', serif;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: black;
}

header img {
    width: 100px;
}

main .img {
    width: 100%;
}

main h2 {
    text-align: center;
}

main .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .container div {
    width: 30%;
    margin: 30px;
    margin-top: 90px;
    text-align: center;
}

main .container div p {
    text-align: justify;
}

main .container div img {
    box-shadow: 10px 5px 5px grey;
    width: 300px;
    height: 200px;
}

footer {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 40%;
    margin: auto;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav a {
    text-decoration: none;
    color: black;
    border-top: 1px solid;
}

footer nav a:hover {
    color: #979292;
    border-top: 1px solid #979292;
}