@import url('https://fonts.googleapis.com/css?family=Cinzel|Lacquer&display=swap');

body {
    margin: 0;
<<<<<<< HEAD
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.geekgeneration.fr%2Fplanet-zoo-frontier-developments-annonce-que-la-beta-est-prete-a-rugir%2F&psig=AOvVaw3cyNf-viyBQk9KAvHlSlW7&ust=1581411531043000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiIioHTxucCFQAAAAAdAAAAABAD);
=======
    background-image: url("image/Planet-Zoo.jpg");
    font-family: 'Cinzel', serif;
>>>>>>> 9dcebadd4a62e2148d563d5748e5635033ec06c7
}

header {
    font-family: 'Lacquer', sans-serif;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

header img {
    width: 100px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {
    width: 30%;
    margin: 30px;
    margin-top: 90px;
    text-align: center;
}

.container div p {
    text-align: justify;
}

.container div img {
    border-radius: 45%;
    width: 300px;
    height: 200px;
}

footer {
    padding: 50px;
    width: 40%;
    margin: auto;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav a {
    text-decoration: none;
    color: black;
    border-top: 1px solid;
}

footer nav a:hover {
    color: #979292;
    border-top: 1px solid #979292;
}